:root {
    --dark: #303030;
    --white: #fff;
    --font: Georgia;
    --grey: #dad7d7;    
    --red: red;    
}

body {
    background-color: black;
    color: var(--white);
    font-style: var(--font);
}

main {
    background-color: var(--dark);
    color: var(--grey);
}

#navigation a {
    color: var(--grey)
    border-bottom: var(--grey);
}

/*Used 'auto' to take up space within the nav links*/ 
.navigation {
    display: flex;
    margin: auto;
    height:auto;
}

#navigation a {
    color: var(--grey);
}

#navigation a:hover {
    color: var(--dark);
    transition: 0.8s; 
    background-color: var(--grey);
    border-bottom: var(--dark) solid 3px; 
    border-radius: 5px; 
}

/*Used an'inline-flex' to make flex container an inline element*/
#navigation a, #Contact-links a {
    font-size: 22px;
    text-decoration: none;    
    display: inline-flex;
    margin-right: 30px;
    margin-top: 10px; 
    padding-bottom: 5px;  
}

#Contact-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

#Contact-links a {
    color: var(--grey)   
    border-bottom: var(--grey) solid 3px;
    font-size: 22px;
}

#Contact-links a {
    transition: all 0.4s ease-in-out;
}

#Contact-links a:hover {
    color: var(--dark);
    background-color: var(--grey);
    padding: 5px;
    border-radius: 5px;
}

#navigation, #Contact-links {
    padding-top: 15px;
}

#name {
    background-color: var(--grey);
    color: var(--dark);
    font-size: 48px;
    padding: 10px, 20px, 10px, 60px;
    border-radius: 0 20px 20px 0;
}

#subtitle {
    background-color: var(--grey);
    color: var(--dark);
    font-size: 40px;
    right: 48px;
    bottom: 48px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 100xpx;
    margin-right: 30px;
}


.header1  {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;      
    flex-wrap: wrap;
    background-color:var(--dark);
    color: var(--grey);
    
}

.header2 {
    display: flex;   
    height: auto;
    width: 100%;   
    justify-content: space-between;
    flex-wrap: wrap;
}

.header2 div {
    margin: 20px;
}

.aside1, .content {
    height: auto;
    margin: 30px 0px;
}

.aside1 {
    font-size: 55px;
}

.block-section {
    display: flex;
    justify-content: space-around;  
}

.content {
    width: 70%;
    font-size: 24px;
    border-left: var(--white) solid 5px;    
    padding-left: 50px;
    word-spacing: 6px;
}

.content p {
    line-height: 24px;
}

#box2 {
    display: flex;
    flex-wrap: wrap;
}

.project {    
   border: var(--dark) solid 2px;
   margin: 18px;
   position: relative;
}

.projects2 {
    position: relative;
    flex: 43%;
    margin: 1%;
    border: var(--grey) solid 4px;
}

.projects2 img {
    width: 100%;
    min-width: 150px;    
}

.projects2 img:hover {
   border: solid 5px navy;
   margin: -2px;   
}

.information {
    position: absolute;
    bottom: 40%;
    padding-left: 20px;
    padding-right: 11px;
    background-color: var(--dark);
}

.information h4 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4px;
}

/* Used media queries to be adjust my webpage to different screen sizes.*/
@media screen and (max-width: 950px) {

    #subtitle {
        margin-top: 0;
        margin-right: 30px;
        font-size: 32px;
        border-radius: 15px;
        float: left;
    }

    .header2 {
            flex-direction: column;
        }
}

@media screen and (max-width: 800px) {
    #Contact-links a {
        font-size: 16px;
    }

    .content {
        padding-left: 50px;
        padding-right: 50px;
        width: 50%;
        border-left: none;
        font-size: 20px;
    }

    .block-section {
        flex-direction: column;
        justify-content: center;        
    }

    .aside {
        text-align: center;
        width: 100%;
        font-size: 48px;
    }
}
    
@media screen and (max-width: 425px) {
    .information {
        background-color: var(--dark);
        padding-bottom: 4px;
        bottom: 31%;
        position: unset;
    }

    .information h3 {
        font-size: 16px;
    }

    .information h4 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
    }

    /*Made Contact-links more centered*/
    #Contact-links {
        justify-content: center;
    }

    .content p {
        font-size: 12px;     
    }
}
     
