:root {
    --dark: #303030;
    --white: #fff;
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --grey: #dad7d7; 
}

body {
    background-color: var(--grey);
    color: var(--dark);
    font-style: var(--font);
}

#header-links, #contact-links {
    padding-top: 35px;
}

#header-links a, #contact-links a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 32px;
  padding-top: 15px;
}

#header-links a  {
    color: var(--grey);
    border-bottom: var(--grey) solid 3px;
}

#header-links a:hover {
    background-color: var(--white);
    color: var(--dark);
}
.header1 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    background: var(--dark);
    color: var(--dark);
}

.header2 {
    display: flex;
    background-image: url("../images/yellow-metal-design-decoration(1).jpg") no repeat;
    height: auto; 
    margin: 0;     
    background-size: cover;
    background-position: center;
}

.header2 img {
    position: absolute;    
    top: 11%;    
    max-width: 100%;
    margin-top: 68px;
}


.block-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aside1, .content {
    height: auto;
    margin: 10px;
}

.content {
    flex: 1;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aside1 {
    width: 15px;
    font-size: 45px;
    text-align: justify;
    padding-right: 20px;
    padding-top: 20px;
}

.project {    
    margin: 20px;
    border: var(--dark) solid 6px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;  
}

.project > img {
    width: 100%;
}

.information {
    position: absolute;
    bottom: 25%;
    padding-left: 30px;
    background-color: var(--grey)
}

#name {
    background-color: var(--grey);
    font-size: 15px;
    padding: 10px 20px 10px 50px;
    border-radius: 0 20px 20px 0;
}


#project {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

#contact-links {
    display: flex;
    justify-content: space-evenly;
}   

#contact-links a {
    color: var(--dark);
    border-bottom: var(--dark) solid 3px;
    font-size: 18px;
}

